body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(90deg, #282ee0, #7175e4);
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Heart{
  display: flex;
  justify-content: space-evenly;
  height:auto;
  padding-top: 110px;
  padding-inline: 30px;

}

@media (min-width: 992px) {
  .Heart>div:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
}

.Heart>div:hover button{
  opacity: 1!important;
}

@media (max-width: 992px) {
  .Heart {
    flex-direction: column;
    padding-top: 40px;
    
  }

  .Heart>div {
    margin-bottom: 30px;
  }
  
}

